body {
    font-family: sans-serif;
}
.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
}
.header__1 {
    font-size: 64px;
    color: #1f3f68;
}
.header__2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.header__3 {
    font-size: 36px;
    text-align: center;
}
.header__4 {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
}
.input_field {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase
}
