* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.top {
  height: 768px;
  background: linear-gradient(0deg,
      #ebf3fb 8.84%,
      rgba(152, 195, 232, 0) 31.12%);
}

.header {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
}

.paragraph {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.text__project {
  width: 75%;
  margin: 32px auto 64px;
  color: #222222;
  opacity: 1;
  text-align: center;

}

.top__heading {
  font-size: 64px;
  color: #1f3f68;
  width: 510px;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.content__box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top__info {
  padding-top: 115px;
  flex-grow: 1;
  background-image: url("img/illustration.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.top__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.top__text {
  width: 425px;
}

.what-we-do {
  padding-top: 64px;
}

.card__box {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
}

.card {
  width: 359px;
  padding: 44px 32px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card__pic {
  align-self: center;
  margin-bottom: 51px;
}

.card_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
}

.card__link::after {
  content: url("img/row.svg");
}

.heading {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
}

.header__1~p {
  width: 425px;
}

.header__3 {
  font-size: 36px;
  text-align: center;
}

.heading__mini {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}

.heading,
.heading__mini {
  text-transform: capitalize;
}

.input_field {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.button {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.work_info {
  width: 495px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__bottom ol {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;

  /* white */
  color: #FFFFFF;
}

.footer .header__3 {
  width: 340px;
}

.footer {
  margin-top: 112px;
  background-color: #316099;

}

.footer__heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 90px;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 32px;
  margin-bottom: 96px;
  opacity: 0.6;
}


.data {
  display: flex;
  justify-content: space-around;
}

.send_data {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
}

input {
  height: 50px;
}

.map {
  display: flex;
  justify-content: center;
}

.interes {
  display: flex;
  justify-content: space-between;
}


.project__parent {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.project__img {
  width: 100%;
}

.project__item {
  position: relative;
  flex-grow: 1;
}

.project__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-align: left;
  position: absolute;
  top: 32px;
  left: 32px;
}

.project__item__margin {
  margin-right: 32px;
}

.talk__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5a98d0;
  text-transform: uppercase;
  align-self: center;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  text-decoration: none;
  padding: 15px 50px;
  text-decoration: none;
}

hr {
  opacity: 0.4;
  border: 1px solid #FFFFFF;
}

.copyrigth__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}