* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.top {
  height: 768px;
  background: linear-gradient(0deg,
      #ebf3fb 8.84%,
      rgba(152, 195, 232, 0) 31.12%);
}

.header {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
}

.paragraph {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.top__heading {
  font-size: 64px;
  color: #1f3f68;
  width: 510px;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.content__box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top__info {
  padding-top: 115px;
  flex-grow: 1;
  background-image: url("img/illustration.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.top__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.top__text {
  width: 425px;
}

.header__1~p {
  width: 425px;
}

.header__3 {
  font-size: 36px;
  text-align: center;
}

.header__4 {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
}

.header__3,
.header__4 {
  text-transform: capitalize;
}

.input_field {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.button {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 359px;
}

.work_info {
  width: 495px;
}

.contact__bottom ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.adress::before {
  content: "A.";
}

.phone::before {
  content: "T.";
}

.email::before {
  content: "E";
}

.footer .header__3 {
  width: 340px;
}



.data {
  display: flex;
  justify-content: space-around;
}

.send_data {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
}

input {
  height: 50px;
}

.map {
  display: flex;
  justify-content: center;
}

.interes {
  display: flex;
  justify-content: space-between;
}

.work_info~.button {
  align-self: center;
  border-radius: 0px;
  width: 200px;
}