* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.top {
  min-height: 768px;
  background: linear-gradient(
    0deg,
    #dfedf8 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}

.header {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
}

.paragraph {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.text__project {
  width: 75%;
  margin: 32px auto 64px;
  color: #222222;
  opacity: 1;
  text-align: center;
}

.top__heading {
  font-size: 64px;
  color: #1f3f68;
  width: 510px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.content__box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top__info {
  padding-top: 115px;
  flex-grow: 1;
  background-image: url("img/illustration.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 44%;
}

.top__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.top__text {
  width: 425px;
}

.what-we-do {
  padding-top: 64px;
}

.card__box {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
}

.card {
  width: 359px;
  padding: 44px 32px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card__pic {
  align-self: center;
  margin-bottom: 51px;
}

.card_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  text-decoration: none;
}

.link {
  display: flex;
}

.heading {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
}

.header__1 ~ p {
  width: 425px;
}

.header__3 {
  font-size: 36px;
  text-align: center;
}

.heading__mini {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}

.heading,
.heading__mini {
  text-transform: capitalize;
}

.button {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.work_info {
  width: 495px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 96px;
}

.footer {
  margin-top: 112px;
  background-color: #316099;
  padding-top: 91px;
  padding-bottom: 64px;
  margin-top: 112px;
}

.footer__heading {
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  width: 340.96px;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
  padding-top: 32px;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.footer__menu li {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  flex-grow: 1;
  flex-basis: 33.3333%;
  list-style-type: none;
  display: flex;
  margin-right: 32px;
}

.footer__menu li:first-child::before {
  content: "A.";
  display: block;
  margin-right: 16px;
}

.footer__menu li:nth-child(2)::before {
  content: "T.";
  display: block;
  margin-right: 16px;
}

.footer__menu li:last-child::before {
  content: "E.";
  display: block;
  margin-right: 16px;
}

input {
  height: 50px;
}

.map {
  display: flex;
  justify-content: center;
}

.interes {
  display: flex;
  justify-content: space-between;
}

.project__parent {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.project__img {
  width: 100%;
}

.project__item {
  position: relative;
  flex-grow: 1;
}

.project__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: left;
  position: absolute;
  top: 32px;
  left: 32px;
}

.project__item__margin {
  margin-right: 32px;
}

.talk__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5a98d0;
  align-self: center;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  text-decoration: none;
  padding: 15px 50px;
  text-decoration: none;
}

hr {
  opacity: 0.4;
  border: 1px solid #ffffff;
}

.copyrigth {
  margin-top: 64px;
}

.copyrigth__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

@media (min-width: 667px) and (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .top__info {
    background-position: right bottom;
  }

  .card__box {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 32px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .work_info {
    max-width: 336px;
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
  }

  .contact__bottom {
    display: flex;
    flex-direction: column;
    width: 470px;
  }

  .copyrigth {
    margin-top: 64px;
  }

  .talk__button {
    padding: 5px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-left: 51px;
  }
}

@media (max-width: 667px) {
  .top {
    min-height: 376px;
    padding-bottom: 41px;
    box-sizing: border-box;
  }

  .header {
    padding-top: 24px;
  }

  .top__info {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
  }

  .top__heading {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
  }

  .top__text {
    width: 100%;
  }

  .top__button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
  }

  .card__box {
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
  }

  .heading {
    font-size: 24px;
    line-height: 28px;
  }

  .what-we-do {
    padding-top: 48px;
  }

  .card {
    width: 100%;
  }

  .text__project {
    width: 100%;
  }

  .project__text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }

  .project__title {
    left: 16px;
  }

  .project__parent {
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }

  .project__item__margin {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .footer__top {
    flex-direction: column;
    align-items: center;
  }

  .work_info {
    max-width: 374px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .footer__menu {
    display: flex;
    margin: 32px 15px;
    flex-direction: column;
  }

  .copyrigth {
    margin-top: 37px;
    text-align: center;
  }
}

/* contacts */

.cu {
  background-image: url("img/contact_us.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;

  &__heading {
    min-width: 236px;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-bottom: 16px;
    padding-top: 50px;
  }
  &__message {
    max-width: 780px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 30px;
  }
}

.data {
  display: flex;
  justify-content: space-around;
  &__info {
    padding: 56px;
  }
  h4 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    padding-bottom: 24px;
    padding-top: 40px;
  }
  li {
    padding-bottom: 16px;
  }
}

.send_data {
  display: flex;
  flex-direction: column;
  label {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.8;
    margin-bottom: 8px;
  }
}

.input_field {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
  margin-bottom: 70px;
}
